* {
    margin: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.boll {
    width: 50%;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

nav > ul {
    list-style: none;
    display: flex;
}

nav > ul > li {
    margin-right: 30px;
}

nav > ul > li > a {
    color: #707070;
    text-decoration: none;
    font-size: 14px;
}

nav > ul > li > a:link {
    color: #707070
}